@import url('//db.onlinewebfonts.com/c/67680f2eb947c5cbd58b40961b4a61e9?family=Apple+SD+Gothic+Neo');
* {
  font-family: 'Apple SD Gothic Neo' !important;
}

html, body {
  height: 100%;
  /* background-color: #ced4da !important; */
}

.divider {
  height: 100% !important;
}

.dividerLeft {
  padding-right: 0.2rem;
}

.dividerRight {
  padding-left: 0.2rem;
}

.Pane2 {
  overflow: auto;
}

.SplitPane {
  height: 93% !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
.App {
  height: 100%;
}

.dimmerColoring {
  background-color: #bbbbbb !important;
}

.gab {
  margin-top: 1rem !important;
}